extends layout

block content
  script
    $(document).ready(function(){
      $("#gd-action").click(function() {
        $.ajax({
          type:"post",
          url:"/garagedoor",
          success:function(result){
            $("#result").html(result);
            setTimeout(function(){
              $("#result").html("");
            }, 2000);
          }
        });
      });
    });

  h1= title
  p Welcome to #{title}

  button.btn.btn-primary#gd-action(type='button') Garage Door 
  
  p#result
