extends layout

block content
  script
    $(document).ready(function(){
      $("#gd-action").click(function() {
        $.ajax({
          type:"post",
          url:"/garagedoor",
          success:function(result){
            $("#result").show();
            setTimeout(function(){
              $("#result").hide();
            }, 2000);
          }
        });
      });
    });

  h1= title
  p Welcome to #{title}

  h5
    button.btn.btn-primary#gd-action(type='button') Garage Door 
    span#result.label.label-success Success 
