extends layout

block content
  script
    $(document).ready(function(){
      $("#gd-action").click(function() {
        console.log("open");
      });
    });

  h1= title
  p Welcome to #{title}

  button.btn.btn-primary#gd-action(type='button') Garage Door
